.footer {
	display: flex;

	justify-content: space-between;
	padding: 53.5px 96px;

	font-family: 'Satoshi';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.3);
	background-color: #f9fbfb;
}
.logo {
	width: 131.09px;
	height: 30.91px;
}

@media (max-width: 767px) {
	.footer {
		padding: 53.5px 32px;
		margin-top: 200px;
	}
}

@media (max-width: 639px) {
	.footer {
		flex-direction: column;
		gap: 16px;
		padding: 35.41px 32px;
		margin-top: 150px;
	}
}
